body{

	background-color: #333; 
	color: White;
}



/* user entrance fields on the RF page */
.fields{

	position: relative;

	margin-top: 50px;

	right:5%;
}


/* current value readouts on the rf page */
.current_values{

	position: relative;

	top: 20px;

	right: 5%;
}


#submit_button{

	position: relative;

	top: 50px;

	left: 3%;

}

