<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

		<!-- Bootstrap core CSS -->
	    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

	    <!-- Plugin CSS -->
	    <link href="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet">
	    <link href="{{url_for('static', filename='vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css')}}" rel="stylesheet">

	    <!-- satelite Icon for tab image -->
		<link rel = "icon" href = "{{url_for('static', filename='img/satelite.jpg')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css') }}">

		<!-- Plotly + jQuery source code -->
		<script type="text/javascript" src="{{ url_for('static',filename='vendor/plotly/plotly.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='vendor/jquery/jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='static/js/bootstrap-slider.js') }}"></script>



		<title>MAANS</title>


		<img src="{{url_for('static', filename='img/City_of_Toronto_Logo.png')}}" class=toronto_logo>
		<p id="title" class="headline" style="font-family:Impact;font-size:102px;color:#295A84">Over the Years</p>
		<p><br><br><br><br></p>

		</head>



		<body style="background-color:#333;">

			<div class="container">

				<form id="Home" action="/calculated" method="Post">

					<!-- user entry field -->
					<div id="target_address" class="fields">
						<font color="white"
						>Address:</font>
						<input type="text" id="location" name= "location">
					</div>


					<!-- "current latlng" field -->
					<b class="current_values">Your current position is <br><div style="color:#a43820;display:inline">{{abs_lat}}&#176; {{dir_lat}}</div> and <div style="color:#a43820;display:inline">{{abs_lng}}&#176; {{dir_lng}}</div>

					</b>

          <!-- Insert startButton & map-->
					<div class="startButton">
						<button class="btn btn-danger btn-lg" role="button" id="submit_button">Start!</button>
					</div>
       </form>

			<p><br><br><br><br></p>






			<!-- slider -->
			<div class="slidecontainer"><input type="range" min="0" max="7" value="0" class="slider" id="myRange"></div>
			<div id="slider_label"color="orange"> <-----------Time----------></div>

			<!-- "array" of images and percentages-->
			<div class="topright">
			<img class="mySlides" src="{{url_for('static', filename='data/data_in/img0_1997.jpg')}}">
			<img class="mySlides" src="{{url_for('static', filename='data/data_in/img1_2000.jpg')}}">
			<img class="mySlides" src="{{url_for('static', filename='data/data_in/img2_2005.jpg')}}">
			<img class="mySlides" src="{{url_for('static', filename='data/data_in/img3_2007.jpg')}}">
			<img class="mySlides" src="{{url_for('static', filename='data/data_in/img4_2008.jpg')}}">
			<img class="mySlides" src="{{url_for('static', filename='data/data_in/img5_2009.jpg')}}">
			<img class="mySlides" src="{{url_for('static', filename='data/data_in/img6_2011.jpg')}}">
			<img class="mySlides" src="{{url_for('static', filename='data/data_in/img7_2012.jpg')}}">
	   	</div>

			<script>
			var i;
			var x = document.getElementsByClassName("mySlides")
			for (i = 1; i < x.length; i++) {
			x[i].style.display = "none";
			}
			</script>

			<!-- reaponsible for eliminating and putting back pictures at the correct motions of the slider -->
			<script>
			var slider = document.getElementById("myRange");
			slider.oninput = function(){
			  var i;
			  var x = document.getElementsByClassName("mySlides");

			  for (i = 0; i < x.length; i++) {
			     x[i].style.display = "none";
			  }
			  x[this.value].style.display = "block";
			}
			</script>

			<script>
			var slider = document.getElementById("myRange");
			var output = document.getElementById("demo");
			output.innerHTML = slider.value;

			slider.oninput = function() {
			output.innerHTML = this.value;
			}
			</script>

		     <!-- Bootstrap core JavaScript -->
		    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
		    <script src="{{url_for('static', filename='vendor/popper/popper.min.js')}}"></script>
		    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

		    <!-- Plugin JavaScript -->
		    <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
		    <script src="{{url_for('static', filename='vendor/datatables/jquery.dataTables.js')}}"></script>
		    <script src="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.js')}}"></script>
		    <script src="{{url_for('static', filename='vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js')}}"></script>



	</body>

</html>
